
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f7f6;
    color: #333333;
}

header {
    background-color: #005A8D;
    color: white;
    text-align: center;
    padding: 20px;
}

.secao, .secao-principal {
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.secao-principal {
    background-color: #E8F1F2;
}

h2 {
    color: #005A8D;
}

.card {
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

.botao {
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
}

.secao-principal h2,
.secao p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.logo-imagem {
    width: 180px;
    height: auto;
}